body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
}

header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 30px;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li.selected a {
    background-color: #555;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url('th.jpg');
    /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-text {
    max-width: 600px;
    padding: 20px;
}

.welcome-text h2 {
    font-size: 2.5em;
}

.welcome-text p {
    font-size: 1.2em;
    margin-top: 20px;
}

.about-us {
    background-color: #f4f4f4;
    padding: 50px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-image {
    flex: 1;
    margin-right: 20px;
}

.about-image img {
    max-width: 100%;
    border-radius: 8px;
}

.about-description {
    flex: 2;
}

.about-description h2 {
    color: #333;
}

.about-description p {
    color: #555;
}